.tren{
    width: 300px;
    height: 150px;
    background: red;
    border: 10px solid yellow;
    padding: 30px;     /*cách từ viền đến nội dung*/
}
.duoi{
    width: 300px;
    height: 150px;
    background: blue;
    border: 20px solid pink;
}
.a{
    width: 300px;
    height: 500px;
    background: pink;
    border:10px dashed yellow;
    padding: 20px 30px;
    margin: 20px 30px;
}